@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-bg {
  background: linear-gradient(270deg, #4f46e5, #9333ea, #4f46e5);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}
/* Add this in your global CSS file */
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(270deg, #f3ec78, #af4261);
  background-size: 400% 400%;
  animation: backgroundAnimation 15s ease infinite;
}
